In [5]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                 'Category':['A','B','C','A','B','C'],
                 'Value':np.random.randint(1,5,size=6),'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n Group and aggregate with one column:\n",df1)

 Original DataFrame:
       Name Category  Value  Score
0    Alice        A      1     94
1      Bob        B      3     90
2  Charlie        C      1     66
3    Alice        A      1     81
4      Bob        B      1     93
5  Charlie        C      3     68

 Group and aggregate with one column:
       Name  Value
0    Alice      2
1      Bob      4
2  Charlie      4

In [13]:
df2=df.groupby(('Name'),as_index=False)[['Value','Score']].sum()
print("\n Group and aggregate with two column sum:\n",df2)

 Group and aggregate with two column sum:
       Name  Value  Score
0    Alice      2    175
1      Bob      4    183
2  Charlie      4    134

In [11]:
df3=df.groupby(('Name'),as_index=False)['Value'].agg('sum')
print("\n Group and aggregate with one column:\n",df3)

 Group and aggregate with one column:
       Name  Value
0    Alice      2
1      Bob      4
2  Charlie      4

In [12]:
df4=df.groupby(('Name'),as_index=False)['Value'].Ë€agg('max')
print("\n Group and aggregate with one column:\n",df4)

 Group and aggregate with one column:
       Name  Value
0    Alice      1
1      Bob      3
2  Charlie      3

In [17]:
#group by name and calculate multiple aggregations
df5=df.groupby('Name').agg({'Value':['sum','mean','min','max'],
                          'Score':['sum','mean']})
print("\n Group by name and multiple aggregation:\n ",df5)

 Group by name and multiple aggregation:
          Value              Score
          sum mean min max   sum  mean
Name
Alice       2  1.0   1   1   175  87.5
Bob         4  2.0   1   3   183  91.5
Charlie     4  2.0   1   3   134  67.0

In [23]:
df6=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n Group and count:\n",df6)

 Group and count:
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [21]:
df7=df.groupby(('Name')).count()
print("\n Group and count:\n",df7)

 Group and count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [25]:
df8=df.groupby(('Name'),as_index=False)['Value'].first()
print("Group and display from first:\n",df8)

Group and display from first:
       Name  Value
0    Alice      1
1      Bob      3
2  Charlie      1

In [26]:
df9=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df9)

 Group and display from first:
         Category  Value  Score
Name
Alice          A      1     94
Bob            B      3     90
Charlie        C      1     66

In [27]:
df10=df.groupby(('Name'),as_index=False)['Value'].last()
print("Group and display from last:\n",df10)

Group and display from last:
       Name  Value
0    Alice      1
1      Bob      1
2  Charlie      3

In [29]:
df11=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df11)

 Group and display from last:
         Category  Value  Score
Name
Alice          A      1     81
Bob            B      1     93
Charlie        C      3     68

In [31]:
df12=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n Group and display size:\n",df12)
df13=df.groupby(('Name')).size()
print("\n Group and display size:\n",df13)

 Group and display size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

 Group and display size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64